:root {
    --bg-color: #fafaf9;
    --font-color: #3d2c29;
    --highlight-color: #f0dfdb;
    --primary-color: #e63c1a;
    --faded-color: #f3eeed;
}

html {
    line-height: 1.5;
    font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: var(--font-color);
}

h1, h2, h3 {
    font-family: "Inter Extra Bold", Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 48px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-color);
}

.top-bar {
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    z-index: 1;
    padding: 0 24px;
    background: var(--bg-color);
}

.logo {
    font-size: 32px;
    font-weight: 1000;
    letter-spacing: -1.5px;
    cursor: pointer;
}

.center-container {
    display: flex;
}

.nav-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 64px;
    width: 256px;
    min-width: 256px;
    height: calc(100vh - 64px);

    justify-content: space-between;
}

.nav {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 16px;
    list-style: none;
}

.nav-item {
    border-radius: 2px;
    padding: 8px;
    white-space: nowrap;
    cursor: pointer;

    transition-property: background;
    transition-timing-function: ease-out;
    transition-duration: .2s;
}

.nav-item:hover {
    background: var(--highlight-color);
}

.nav-item.active {
    background: var(--highlight-color);
    color: var(--primary-color);
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    padding: 48px 40px;
}

.editors-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.editor-container {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-container {
    font-size: 80%;
    font-style: italic;
    text-align: center;
}

.button {
    border-radius: 2px;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    appearance: none;
    background: var(--faded-color);
    color: var(--font-color);
    cursor: pointer;
}

.button.primary {
    background: var(--primary-color);
    color: var(--bg-color);
}

.button.white {
    background: var(--faded-color);
    color: var(--font-color);
}

.cm-gutters {
    background: var(--faded-color) !important;
}

.flex-start {
    align-self: flex-start;
}