:root, :root.light {
    --bg-color: #fafaf9;
    --font-color: #3d2c29;
    --highlight-color: #f0dfdb;
    --primary-color: #e63c1a;
    --faded-color: #f3eeed;
    --dim-color: #d0bfbb;
}

:root.dark {
    --bg-color: #222639;
    --font-color: #f0f5fA;
    --highlight-color: #5f527a;
    --primary-color: #bb99ff;
    --faded-color: #1b1e2e;
    --dim-color: #161825;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222639;
        --font-color: #f0f5fA;
        --highlight-color: #5f527a;
        --primary-color: #bb99ff;
        --faded-color: #1b1e2e;
        --dim-color: #161825;
    }
}

html {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--font-color);
}

h1, h2, h3 {
    font-weight: 900;
}

h1 {
    font-size: 48px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}


a {
    color: var(--font-color);
}

a:visited {
    color: var(--primary-color);
}